flows.json
[{"id":"2a35ac16.becd94","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["147a3520.033f1b"]]},{"id":"d4b19c07.c2dc7","type":"function","z":"f6f2187d.f17ca8","name":"no.1","func":"msg.headers = {'content-type':'application/json'};\n\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"お問い合わせ内容を入力してください\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":520,"wires":[["b37569a7.4e31f8"]]},{"id":"b37569a7.4e31f8","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":1030,"y":520,"wires":[]},{"id":"147a3520.033f1b","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"eq","v":"first_connection","vt":"str"},{"t":"neq","v":"first_connection","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":520,"wires":[["d4b19c07.c2dc7"],["8c8ad21c.679f2","29454204.8f7a2e"]]},{"id":"8c8ad21c.679f2","type":"function","z":"f6f2187d.f17ca8","name":"no.2","func":"msg.headers = {'content-type':'application/json'};\n\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"次はお名前を入力してください\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":600,"wires":[["37df33f0.df619c"]]},{"id":"37df33f0.df619c","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":1030,"y":600,"wires":[]},{"id":"29454204.8f7a2e","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":820,"wires":[]}]