flows_wther.json
[{"id":"a82d09e0.5d1fc8","type":"tab","label":"天気予測","disabled":false,"info":""},{"id":"444e7bf9.58c254","type":"http in","z":"a82d09e0.5d1fc8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":480,"y":420,"wires":[["addf6bd5.758c18"]]},{"id":"2ed6afd8.5b8bd","type":"http in","z":"a82d09e0.5d1fc8","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":80,"y":680,"wires":[["efa483c6.b0ab9"]]},{"id":"addf6bd5.758c18","type":"template","z":"a82d09e0.5d1fc8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n    <title>チャットボット</title>\n</head>\n<body>\n<script src=\"https://riversun.github.io/chatux/chatux.min.js\"></script>\n<script>\n    const chatux = new ChatUx();\n    const initParam =\n        {\n            renderMode: 'auto',\n            api: {\n                endpoint: 'http://localhost:1880/chat',\n                method: 'GET',\n                dataType: 'jsonp',\n                errorResponse: {\n            output: [\n                //ネットワークエラー発生時のエラーメッセージ\n                {type: 'text', value: 'ネットワークエラーが発生しました'}\n                ]\n                }\n            },\n            bot: {\n                botPhoto: 'https://2.bp.blogspot.com/-S1ZjkYqOjao/VRThOl3ijqI/AAAAAAAAscM/t8YbA6CV5d0/s800/job_telephone_operator.png',\n                humanPhoto: null,\n                wakeupText: \"first_connection\",\n                widget: {\n                    sendLabel: '送信',\n                    placeHolder: 'Message'\n                },\n                \n            },\n            window: {\n                title: '天気予測',\n                infoUrl: 'http://www.erestage.com/'\n            }\n        };\n    chatux.init(initParam);\n    chatux.start(true);\n</script>\n</body>\n</html>","output":"str","x":620,"y":420,"wires":[["94e8f44.b88ea08"]]},{"id":"901e0119.e404c","type":"http response","z":"a82d09e0.5d1fc8","name":"","statusCode":"","headers":{},"x":930,"y":420,"wires":[]},{"id":"df08f8f1.98f958","type":"http request","z":"a82d09e0.5d1fc8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://web:5000/weather_place","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":640,"wires":[["21b19c46.af4854"]]},{"id":"4246ea81.3c9a04","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"//flowから取り出す。同じフロー内だったら、どこからでも呼べる\nvar chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"地名を確認できませんでした。\"\n    },\n    {\n      \"type\": \"text\",\n      \"value\": \"もう一度地名を入力しなおして下さい\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":640,"wires":[["5c31b01f.a657f"]]},{"id":"4a56ca02.992ec4","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"msg.headers\n//flowへ格納\nflow.set(\"chat_heders\",msg.headers);\n\n//flowから取り出す。同じフロー内だったら、どこからでも呼べる\n//var chat_heders = flow.get(\"chat_heders\");\n\n//flow.user_nameって使い方はできないらしい\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":640,"wires":[["df08f8f1.98f958"]]},{"id":"94e8f44.b88ea08","type":"change","z":"a82d09e0.5d1fc8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":420,"wires":[["901e0119.e404c"]]},{"id":"efa483c6.b0ab9","type":"switch","z":"a82d09e0.5d1fc8","name":"","property":"stage","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":680,"wires":[["53ea6045.18f51"],["4a56ca02.992ec4"],["d9c722c2.70fc7"],["ec8558bb.6a0908"]]},{"id":"53ea6045.18f51","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"こちらは天気情報案内システムです\"\n    },\n    {\n      \"type\": \"text\",\n      \"value\": \"地名を入力してください\"\n    }\n  ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":580,"wires":[["b57570fe.0769f"]]},{"id":"b57570fe.0769f","type":"change","z":"a82d09e0.5d1fc8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":580,"wires":[["5c31b01f.a657f"]]},{"id":"21b19c46.af4854","type":"switch","z":"a82d09e0.5d1fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":640,"wires":[["4246ea81.3c9a04"],["2d5ef74.3d07808"]]},{"id":"3ed5151.993cfea","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"//flowから取り出す。同じフロー内だったら、どこからでも呼べる\nvar chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"今日ですか明日ですか？\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":700,"wires":[["5c31b01f.a657f"]]},{"id":"2d5ef74.3d07808","type":"change","z":"a82d09e0.5d1fc8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"3","tot":"str"},{"t":"set","p":"place","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[["3ed5151.993cfea"]]},{"id":"169a280a.255198","type":"http request","z":"a82d09e0.5d1fc8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://web:5000/weather_date","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":780,"wires":[["69c94f02.7de14"]]},{"id":"5c31b01f.a657f","type":"http response","z":"a82d09e0.5d1fc8","name":"","statusCode":"","headers":{},"x":1650,"y":760,"wires":[]},{"id":"e4d3af5d.0b506","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"//flowから取り出す。同じフロー内だったら、どこからでも呼べる\nvar chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"日付を確認できませんでした。\"\n    },\n    {\n      \"type\": \"text\",\n      \"value\": \"今日ですか明日ですか？\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":780,"wires":[["5c31b01f.a657f"]]},{"id":"d9c722c2.70fc7","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"msg.headers\n//flowへ格納\nflow.set(\"chat_heders\",msg.headers);\n\n//flowから取り出す。同じフロー内だったら、どこからでも呼べる\n//var chat_heders = flow.get(\"chat_heders\");\n\n//flow.user_nameって使い方はできないらしい\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":780,"wires":[["169a280a.255198"]]},{"id":"69c94f02.7de14","type":"switch","z":"a82d09e0.5d1fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":780,"wires":[["e4d3af5d.0b506"],["eaa6328.5a3f6d"]]},{"id":"1e1d2a8f.34ecf5","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"//flowから取り出す。同じフロー内だったら、どこからでも呼べる\nvar chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"天気と気温どちらですか？\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":860,"wires":[["5c31b01f.a657f"]]},{"id":"eaa6328.5a3f6d","type":"change","z":"a82d09e0.5d1fc8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"4","tot":"str"},{"t":"set","p":"date","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":860,"wires":[["1e1d2a8f.34ecf5"]]},{"id":"ec8558bb.6a0908","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"var info = msg.payload.text;\nvar place = flow.get(\"place\")\nvar date = flow.get(\"date\")\n\nmsg.payload ={\n      \"place\": place,\n      \"date\" : date,\n      \"info\" : info\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":940,"wires":[["81ed0a81.ec0708","a40099be.3702f8"]]},{"id":"81ed0a81.ec0708","type":"http request","z":"a82d09e0.5d1fc8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://web:5000/get_weather","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":940,"wires":[["e13fa329.e5094"]]},{"id":"e13fa329.e5094","type":"function","z":"a82d09e0.5d1fc8","name":"","func":"//flowから取り出す。同じフロー内だったら、どこからでも呼べる\nvar chat_heders = flow.get(\"chat_heders\");\nvar test = msg.payload\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"お伝えします。\"　+ test + \"です。ご利用いただきありがとうございます。\"\n    }, \n    {\n      \"type\": \"text\",\n      \"value\": \"こちらは天気情報案内システムです\"\n    },\n    {\n      \"type\": \"text\",\n      \"value\": \"地名を入力してください\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":940,"wires":[["955caa5a.35aee8"]]},{"id":"a40099be.3702f8","type":"debug","z":"a82d09e0.5d1fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":1040,"wires":[]},{"id":"955caa5a.35aee8","type":"change","z":"a82d09e0.5d1fc8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":940,"wires":[["5c31b01f.a657f"]]}]