フレーム天気予報.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"フレーム型天気予測","disabled":false,"info":""},{"id":"3e46e783.ebe618","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/frame-test","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["f14b422b.d6956"]]},{"id":"f14b422b.d6956","type":"template","z":"f6f2187d.f17ca8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n    <title>チャットボット</title>\n</head>\n<body>\n<script src=\"https://riversun.github.io/chatux/chatux.min.js\"></script>\n<script>\n    const chatux = new ChatUx();\n    const initParam =\n        {\n            renderMode: 'auto',\n            api: {\n                endpoint: 'http://localhost:1880/frame-chat',\n                method: 'GET',\n                dataType: 'jsonp',\n                errorResponse: {\n            output: [\n                //ネットワークエラー発生時のエラーメッセージ\n                {type: 'text', value: 'ネットワークエラーが発生しました'}\n                ]\n                }\n            },\n            bot: {\n                botPhoto: 'https://2.bp.blogspot.com/-S1ZjkYqOjao/VRThOl3ijqI/AAAAAAAAscM/t8YbA6CV5d0/s800/job_telephone_operator.png',\n                humanPhoto: null,\n                wakeupText: \"first_connection\",\n                widget: {\n                    sendLabel: '送信',\n                    placeHolder: 'Message'\n                },\n                \n            },\n            window: {\n                title: '天気予測',\n                infoUrl: 'http://www.erestage.com/'\n            }\n        };\n    chatux.init(initParam);\n    chatux.start(true);\n</script>\n</body>\n</html>","output":"str","x":420,"y":160,"wires":[["e74c535f.89dfd"]]},{"id":"c4f78818.2f9c78","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":890,"y":160,"wires":[]},{"id":"9eb308d6.04d298","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/frame-chat","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["f13340d2.cd89f"]]},{"id":"e74c535f.89dfd","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[["c4f78818.2f9c78"]]},{"id":"5bf11bae.dcb424","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":1010,"y":220,"wires":[]},{"id":"c4ffad3f.6e6ad","type":"function","z":"f6f2187d.f17ca8","name":"","func":"//flowにwether情報のセット\nflow\n\n\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"こちらは天気情報案内システムです\"\n    },\n    {\n      \"type\": \"text\",\n      \"value\": \"ご用件をお伺いします。\"\n    }\n  ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["bb14f4d9.6cdf18"]]},{"id":"a7b92f2c.a257","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":220,"wires":[["5bf11bae.dcb424"]]},{"id":"3860f282.91d0de","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://web:5000/weather_frame","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":380,"wires":[["eef06a9a.60a448"]]},{"id":"f13340d2.cd89f","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"stage","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":300,"wires":[["c4ffad3f.6e6ad"],["a4e90ef0.42ba3"]]},{"id":"bb14f4d9.6cdf18","type":"change","z":"f6f2187d.f17ca8","name":"フレーム初期化","rules":[{"t":"set","p":"place","pt":"flow","to":"","tot":"str"},{"t":"set","p":"date","pt":"flow","to":"","tot":"str"},{"t":"set","p":"info","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["a7b92f2c.a257"]]},{"id":"1841e72c.310839","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"ご用件をお伺いします。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":280,"wires":[["23b82e83.bd99d2"]]},{"id":"23b82e83.bd99d2","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":1250,"y":440,"wires":[]},{"id":"a4e90ef0.42ba3","type":"function","z":"f6f2187d.f17ca8","name":"","func":"flow.set(\"chat_heders\",msg.headers);\n\nvar place = flow.get(\"place\");\nvar date = flow.get(\"date\");\nvar info = flow.get(\"info\");\n\nvar text = msg.payload.text\nmsg.payload = {\n    \"text\" : text, \n    \"place\" : place,\n    \"date\" : date,\n    \"info\" : info\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["3860f282.91d0de"]]},{"id":"c67ae40.2dbe82","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\nmsg.headers = chat_heders;\n\nvar place = flow.get(\"place\");\nvar date = flow.get(\"date\");\nvar info = flow.get(\"info\");\n\n\n\nif (place == '' && date == '' && info == ''){\n    flow.set(\"stage\",2);\n} else if (place == '' && date == ''){\n    flow.set(\"stage\",3);\n} else if (place == '' && info == ''){\n    flow.set(\"stage\",4);\n} else if (date == '' && info == ''){\n    flow.set(\"stage\",5);\n} else if (place == ''){\n    flow.set(\"stage\",6);\n} else if (date == ''){\n    flow.set(\"stage\",7);\n} else if (info == ''){\n    flow.set(\"stage\",8);\n} else if (place != '' && date != '' && info != ''){\n    flow.set(\"stage\",9);\n}\n\nmsg.stage = flow.get(\"stage\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["4009eef6.b33ab"]]},{"id":"c62238b3.8faf98","type":"change","z":"f6f2187d.f17ca8","name":"固有表現抽出結果反映","rules":[{"t":"set","p":"place","pt":"flow","to":"payload.place","tot":"msg"},{"t":"set","p":"date","pt":"flow","to":"payload.date","tot":"msg"},{"t":"set","p":"info","pt":"flow","to":"payload.info","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":500,"wires":[["c67ae40.2dbe82"]]},{"id":"4009eef6.b33ab","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"stage","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":490,"y":680,"wires":[["1841e72c.310839"],["2f02675f.e78f08"],["7967e176.ed0a8"],["256c8418.56e00c"],["90121aa2.98c778"],["f8440c19.903af"],["ce05d737.e117c8"],["ad99ab82.a20d68"]]},{"id":"2f02675f.e78f08","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"地名と日付を入力してください。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":340,"wires":[["23b82e83.bd99d2"]]},{"id":"7967e176.ed0a8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"地名と情報種別を入力してください。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":400,"wires":[["23b82e83.bd99d2"]]},{"id":"256c8418.56e00c","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"日付と情報種別を入力してください。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":460,"wires":[["23b82e83.bd99d2"]]},{"id":"90121aa2.98c778","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"地名を入力してください。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":520,"wires":[["23b82e83.bd99d2"]]},{"id":"f8440c19.903af","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"日付を入力してください。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":580,"wires":[["23b82e83.bd99d2"]]},{"id":"ce05d737.e117c8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var chat_heders = flow.get(\"chat_heders\");\n\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n          {\n      \"type\": \"text\",\n      \"value\": \"情報種別を入力してください。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":640,"wires":[["23b82e83.bd99d2"]]},{"id":"e59b7df8.b663e","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://web:5000/get_weather","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":720,"wires":[["ea01ebc6.8bda98"]]},{"id":"ab617f3a.e3704","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"stage","pt":"flow","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":720,"wires":[["23b82e83.bd99d2"]]},{"id":"3c88e78e.4832a8","type":"change","z":"f6f2187d.f17ca8","name":"フレーム初期化","rules":[{"t":"set","p":"place","pt":"flow","to":"","tot":"str"},{"t":"set","p":"date","pt":"flow","to":"","tot":"str"},{"t":"set","p":"info","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":720,"wires":[["ab617f3a.e3704"]]},{"id":"ea01ebc6.8bda98","type":"function","z":"f6f2187d.f17ca8","name":"","func":"//flowから取り出す。同じフロー内だったら、どこからでも呼べる\nvar chat_heders = flow.get(\"chat_heders\");\nvar test = msg.payload\nmsg.headers = chat_heders;\nmsg.payload ={\n      \"output\": [\n    {\n      \"type\": \"text\",\n      \"value\": \"お伝えします。\"　+ test + \"です。ご利用いただきありがとうございます。\"\n    }, \n    {\n      \"type\": \"text\",\n      \"value\": \"こちらは天気情報案内システムです\"\n    },\n    {\n      \"type\": \"text\",\n      \"value\": \"ご用件をお伺いします。\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[["3c88e78e.4832a8"]]},{"id":"ad99ab82.a20d68","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n\nvar place = flow.get(\"place\")\nvar date = flow.get(\"date\")\nvar info = flow.get(\"info\")\nmsg.payload ={\n      \"place\": place,\n      \"date\" : date,\n      \"info\" : info\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":720,"wires":[["e59b7df8.b663e"]]},{"id":"eef06a9a.60a448","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":430,"y":440,"wires":[["c62238b3.8faf98"]]}]